{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div style="text-align:center; width:20rem; margin: 2rem auto;">
        <h3> Registration </h3>

        <div>
            <form action="{% url 'accountapp:create'%}" method="post">
                {% csrf_token %}

                {% bootstrap_form form %}
                <div>
                    <input type="submit" class="btn btn-primary mt-3">
                </div>
            </form>
        </div>
    </div>

{% endblock %}